﻿@model Satovi.Models.Sat

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Add</title>
</head>
<body>
    <form method="post" action="Add">
        <input name="Name" />
        <br />
        <input name="Manufacturer" />
        <br />
        <input name="Color" />
        <br />
        <input name="Material" />
        <br />
        <input name="Description" />
        <br />
        <input name="Price" type="number" />
        <br />
        <input name="OnSale" type="checkbox"/>
        <br />
        <input name="store" />
        <br />
        <input type="submit" />
    </form>
    <a href="~/Sat/Index">Back</a>
</body>
</html>
