﻿@model IEnumerable<Satovi.Models.Sat>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    @if (HttpContext.Current.Session["admin"] != null && (bool)HttpContext.Current.Session["admin"])
    {
        <a href="~/Sat/Add">Dodaj novi sat</a>
    }
    <table>
        <tr>
            <th>
                Name
                <form action="SortAName" method="get">
                    <input type="submit" value="˄" />
                </form>
                <form action="SortDName" method="get">
                    <input type="submit" value="˅" />
                </form>
            </th>
            <th>
                Manufacturer
                <form action="SortAMan" method="get">
                    <input type="submit" value="˄" />
                </form>
                <form action="SortDMan" method="get">
                    <input type="submit" value="˅" />
                </form>
            </th>
            <th>
                Color
            </th>
            <th>
                Material
            </th>
            <th>
                Description
            </th>
            <th>
                Price
                <form action="SortAPrice" method="get">
                    <input type="submit" value="˄" />
                </form>
                <form action="SortDPrice" method="get">
                    <input type="submit" value="˅" />
                </form>
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.IsDeleted || (!item.OnSale && (HttpContext.Current.Session["admin"] == null || !(bool)HttpContext.Current.Session["admin"]))) { continue; }

            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Manufacturer
                </td>
                <td>
                    @item.Color
                </td>
                <td>
                    @item.Material
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Price
                </td>
                @if (HttpContext.Current.Session["admin"] != null && (bool)HttpContext.Current.Session["admin"])
                {
                    <td>
                        @if (item.OnSale == true)
                        {
                            <form action="Modify" method="post">
                                <input type="hidden" value=@item.Name name="clock" />
                                <input type="submit" value="Modify" />
                            </form>
                        }
                    </td>
                }
                @if ((HttpContext.Current.Session["loggedIn"] != null && (bool)HttpContext.Current.Session["loggedIn"]) && (HttpContext.Current.Session["admin"] == null || !(bool)HttpContext.Current.Session["admin"]))
                {
                    <td>
                        @if (item.OnSale == true)
                        {
                            <form action="~/Korisnik/BasketIt" method="post">
                                <input type="hidden" value=@item.Name name="clock" />
                                <input type="submit" value="Add to cart" />
                            </form>
                        }
                    </td>
                }
            </tr>
        }

    </table>
    <form method="post" action="SearchByName">
        <input name="value" type="text" />
        <input type="submit" value="Search By Name" />
    </form>
    <form method="post" action="SearchByMan">
        <input name="value" type="text" />
        <input type="submit" value="Search By Manufacturer" />
    </form>
    <form method="post" action="SearchByPrice">
        <input name="value" type="number" />
        <input name="value2" type="number" />
        <input type="submit" value="Search By Price" />
    </form>
    <a href="~/Korisnik/Index">Back</a>
</body>
</html>
