﻿@model Satovi.Models.Sat

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Modify</title>
</head>
<body>
    <form method="post" action="ModifyExecute">
        <input name="Name" value=@Model.Name />
        <br />
        <input name="Manufacturer" value=@Model.Manufacturer />
        <br />
        <input name="Color" value=@Model.Color />
        <br />
        <input name="Material" value=@Model.Material />
        <br />
        <input name="Description" value=@Model.Description />
        <br />
        <input name="Price" type="number" value=@Model.Price />
        <br />
        <input name="OnSale" type="checkbox" value=@Model.OnSale />
        <br />
        <input type="submit" />
    </form>
    <a href="~/Sat/Index">Back</a>
</body>
</html>
