﻿@model Satovi.Models.Prodavnica
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Add</title>
</head>
<body>
    <form method="post" action="Add">
        <input name="Name" />
        <br />
        <input name="Address" />
        <br />
        <input type="submit" />
    </form>
    <a href="~/Prodavnica/Index">Back</a>
</body>
</html>
