﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
</head>
<body>
    <div>Napravili ste gresku prilikom unosa, pokusajte ponovo</div>
    <a href="~/Prodavnica/Index">Back</a>
</body>
</html>
