﻿@model IEnumerable<Satovi.Models.Prodavnica>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <a href="~/Prodavnica/Add">Dodaj novu prodavnicu</a>
    <br />
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.IsDeleted)
            {
                continue;
            }
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Address
                </td>
                @if (HttpContext.Current.Session["admin"] != null && (bool)HttpContext.Current.Session["admin"])
                {
                    <td>
                        <form method="post" action="~/Prodavnica/Delete">
                            <input type="hidden" value="@item.Name" name="name" />
                            <input type="hidden" value="@item.Address" name="address" />
                            <input type="submit" value="🗑" />
                        </form>
                    </td>
                }

                @if ((HttpContext.Current.Session["loggedIn"] != null && (bool)HttpContext.Current.Session["loggedIn"]) && (HttpContext.Current.Session["admin"] == null || !(bool)HttpContext.Current.Session["admin"]))
                {
                    <td>
                        <form method="post" action="~/Prodavnica/Items">
                            <input type="hidden" value="@item.Name" name="name" />
                            <input type="hidden" value="@item.Address" name="address" />
                            <input type="submit" value="Ponuda" />
                        </form>
                    </td>
                }
            </tr>
        }
    </table>
    <a href="~/Korisnik/Index">Back</a>
</body>
</html>
