﻿@model IEnumerable<Satovi.Models.Sat>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Basket</title>
</head>
<body>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Color
            </th>
            <th>
                Material
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.IsDeleted || (!item.OnSale && (HttpContext.Current.Session["admin"] == null || !(bool)HttpContext.Current.Session["admin"]))) { continue; }

            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Manufacturer
                </td>
                <td>
                    @item.Color
                </td>
                <td>
                    @item.Material
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <form action="Remove" method="post">
                        <input type="hidden" value=@item.Name name="name" />
                        <input type="submit" value="Remove from cart" />
                    </form>
                </td>
            </tr>
        }

    </table>
    <div>
        <h1>Purchase total:</h1>
        @HttpContext.Current.Session["basketTotal"]
    </div>
    <form method="post" action="Purchase">
        <input type="submit" value="Purchase"/>
    </form>
    <a href="~/Korisnik/Index">Back</a>
</body>
</html>
