@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    @if (HttpContext.Current.Session["loggedIn"] == null || !(bool)HttpContext.Current.Session["loggedIn"])
    {
        <a href="~/Korisnik/Login">Login</a>
        <a href="~/Korisnik/Registration">Register</a>
    }
    <a href="~/Sat/Index">Clocks</a>
    @if (HttpContext.Current.Session["loggedIn"] != null && (bool)HttpContext.Current.Session["loggedIn"])
    {
        if (HttpContext.Current.Session["admin"] == null || !(bool)HttpContext.Current.Session["admin"])
        {
            <a href="~/Kupovina/Index">Purchases</a>
            <a href="~/Korisnik/Basket">Basket</a>
        }
        <a href="~/Prodavnica/Index">Store List</a>
        <a href="~/Korisnik/Logout">Logout</a>
    }
    @if (HttpContext.Current.Session["admin"] != null && (bool)HttpContext.Current.Session["admin"])
    {
        <a href="~/Korisnik/List">User List</a>
    }
</body>
</html>
