﻿@model IEnumerable<Satovi.Models.Korisnik>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>List</title>
</head>
<body>
    <table>
        <tr>
            <th>
                Username
            </th>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Gender
            </th>
            <th>
                Email
            </th>
            <th>
                DateOfBirth
            </th>
            <th>
                IsAdmin
            </th>
            <th>
                Delete
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.IsDeleted)
            {
                continue;
            }
            <tr>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Surname
                </td>
                <td>
                    @item.Gender
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.DateOfBirth
                </td>
                <td>
                    @item.IsAdmin
                </td>
                @if (!item.IsAdmin)
                {
                    <td>
                        <form method="post" action="List"><input type="hidden" value="@item.Username" name="username" /><input type="submit" value="🗑" /></form>
                    </td>
                }
            </tr>
        }

    </table>
    <a href="~/Korisnik/Index">Back</a>
</body>
</html>
