﻿@model Satovi.Models.Korisnik
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
</head>
<body>
    <div>
        <form method="post" action="Login">
            <input name="Username" />
            <br />
            <input name="Password" />
            <br />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
