﻿@model Satovi.Models.Korisnik
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <title>Registration</title>
</head>
<body>

    <form method="post" action="Add">
        <input name="Username" />
        <br />
        <input name="Password" />
        <br />
        <input name="Name" />
        <br />
        <input name="Surname" />
        <br />
        <input name="Gender" />
        <br />
        <input name="Email" />
        <br />
        <input name="DateOfBirth" type="date" lang="sr"/>
        <br />
        <input type="submit" />
    </form>

    <a href="Index">Back</a>
</body>
</html>
