﻿@model IEnumerable<Satovi.Models.Kupovina>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <th>
                BoughtClocks
            </th>
            <th>
                TimeOfPurchase
            </th>
            <th>
                PurchaseTotal
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @foreach (var clock in item.Clocks)
                    {
                        @clock.Name 
                        <span>:</span>
                        @clock.Price
                    }
                </td>
                <td>
                    @item.TimeOfPurchase
                </td>
                <td>
                    @item.PurchaseTotal
                </td>
            </tr>
        }

    </table>
    <a href="~/Korisnik/Index">Back</a>
</body>
</html>
